@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 338.2 0% 100%;
    --foreground: 214.3 30.1% 32%;
    --card: 338.2 0% 100%;
    --card-foreground: 214.3 30.1% 32%;
    --popover: 338.2 0% 100%;
    --popover-foreground: 214.3 30.1% 32%;
    --primary: 211 140.8% 42.9%;
    --primary-foreground: 215.5 128.2% 91.5%;
    --secondary: 216.9 100% 97.5%;
    --secondary-foreground: 214.3 30.1% 62%;
    --muted: 218.8 43.6% 92.4%;
    --muted-foreground: 214.3 30.1% 62%;
    --accent: 218.8 43.6% 92.4%;
    --accent-foreground: 214.3 30.1% 52%;
    --destructive: 0 63.4% 72.2%;
    --destructive-foreground: 214.3 30.1% 32%;
    --border: 214.3 30.1% 62%;
    --input: 214.3 30.1% 62%;
    --ring: 211 140.8% 42.9%;
    --radius: 0.5rem;
    --chart-1: 211 140.8% 42.9%;
    --chart-2: 216.9 100% 97.5%;
    --chart-3: 218.8 43.6% 92.4%;
    --chart-4: 218.8 43.6% 102.4%;
    --chart-5: 211 140.8% 52.9%;

    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 214 30% 38%;
    --sidebar-primary: 211 100% 50%;
    --sidebar-primary-foreground: 215 100% 100%;
    --sidebar-accent: 219 44% 89%;
    --sidebar-accent-foreground: 214 30% 0%;
    --sidebar-border: 214 30% 59%;
    --sidebar-ring: 211 100% 40%;
  }

  .dark {
    --background: 338.2 10% 10%;
    --foreground: 214.3 40.1% 68%;
    --card: 338.2 10% 10%;
    --card-foreground: 214.3 40.1% 68%;
    --popover: 338.2 10% 10%;
    --popover-foreground: 214.3 40.1% 68%;
    --primary: 211 100% 57.1%;
    --primary-foreground: 215.5 100% 10%;
    --secondary: 216.9 100% 10%;
    --secondary-foreground: 214.3 40.1% 38%;
    --muted: 218.8 53.6% 10%;
    --muted-foreground: 214.3 40.1% 38%;
    --accent: 218.8 53.6% 10%;
    --accent-foreground: 214.3 40.1% 48%;
    --destructive: 0 73.4% 27.799999999999997%;
    --destructive-foreground: 214.3 40.1% 68%;
    --border: 214.3 40.1% 38%;
    --input: 214.3 40.1% 38%;
    --ring: 211 100% 57.1%;
    --radius: 0.5rem;
    --chart-1: 211 100% 20%;
    --chart-2: 216.9 100% 60%;
    --chart-3: 218.8 53.6% 60%;
    --chart-4: 218.8 53.6% 60%;
    --chart-5: 211 100% 22.9%;

    --sidebar-background: 338 10% 2%;
    --sidebar-foreground: 214 40% 60%;
    --sidebar-primary: 211 100% 49%;
    --sidebar-primary-foreground: 216 100% 100%;
    --sidebar-accent: 219 54% 25%;
    --sidebar-accent-foreground: 214 40% 100%;
    --sidebar-border: 214 40% 30%;
    --sidebar-ring: 211 100% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
